.case-study {
  background-color: #010102;
  color: white;
  text-align: center;
  padding: 2% 10%;
}

.case-study h1 {
  font-size: 8vh;
  font-style: italic;
  margin-bottom: 2rem;
}

.case-study p {
  font-size: 2.5vh;
  font-weight: 500;
}

.logo {
  width: 18vh;
  margin-right: 2vw;
}

.intro-langeek-img {
  height: 50vh;
}

.intro-langeek {
  display: flex;
  margin-top: 5vh;
}

.langeek-ps {
  padding: 2vw;
  border: solid 0.5vw #9ebace;
  text-align: left;
  margin-left: 5vw;
}

.langeek-ps p {
  font-size: 2.5vh;
  margin-bottom: 2vh;
}

.langeek-details {
  background-color: #9ebace;
  color: black;
  text-align: center;
  padding: 5% 10%;
}

.langeek-details p {
  font-size: 2.5vh;
}

.langeek-flex {
  display: flex;
}

.signup-info {
  padding: 2vw;
  border: solid 0.5vw black;
  text-align: left;
  margin-right: 5vw;
  margin-bottom: 9vh;
}

.signup-info span {
  font-size: 1.8vh;
}

.post-info {
  padding: 2vw;
  border: solid 0.5vw black;
  text-align: left;
  margin-left: 5vw;
  margin-top: 10vh;
  max-height: 50vh;
}

.post-img {
  height: 70vh;
}

.responsive-span {
  font-size: 2vh;
  font-style: italic;
  margin-top: 2vh;
}
